/* START RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input:focus {
    box-shadow: unset;
    outline: unset;
    border: unset;
}
html {
    font-size: 10px;
}

/*

px - initate fixa, 1px= 1led din monitor
% - 1% din parintele direct
vh - 1% din viewport height
vw - 1% din viewport width
em - 1em = font-size in px a celui mai apropiat parinte care are font-size definit
rem - 1rem = font-size definit pe elemetul HTML


*/



/* * = all elements */
/* END RESET */


